@page
@model S00190761_CA3_JamesMcKeon.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<H3>You can simply follow the navigation bar on top to find what you are looking for.</H3>
